
{% if kb_config %}
{{ kb_config | to_nice_yaml }}
{% endif %}

{% if kb_es_ssl_config is defined %}
elasticsearch.ssl.key: {{conf_dir}}/ssl-internal/{{kb_es_ssl_config['dns']}}.key
elasticsearch.ssl.certificate: {{conf_dir}}/ssl-internal/{{kb_es_ssl_config['dns']}}.crt
elasticsearch.ssl.certificateAuthorities: [ "{{conf_dir}}/ssl-internal/elastic-ca.crt" ]
{% endif %}

{% if kb_ssl_config is defined %}
server.ssl.enabled: true
server.ssl.certificate: {{conf_dir}}/ssl/{{kb_ssl_config['dns']}}.crt
server.ssl.key: {{conf_dir}}/ssl/{{kb_ssl_config['dns']}}.key
{% if not kb_ssl_config['conjur_enabled'] %}
server.ssl.certificateAuthorities: [ "{{conf_dir}}/ssl/{{kb_ssl_config['dns']}}.cacerts" ]
{% endif %}
{% endif %}










































